<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name="utils.Android.ListenersUtils"></listener>	
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <!--class name="Appium_java.Appium.baseClass"/-->
      <!--class name="app.FunctionalityTestCases.VerifyProductPriceSum_PurchasePrice"/-->
      <!--class name="app.FunctionalityTestCases.VerifyAddProductToCart"/-->
      <!--class name="app.FunctionalityTestCases.formFillingWithJSONDataProvider"/-->
      <class name="app.FunctionalityTestCases.Verify_From_Filling_Of_APP"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
